<div class="container events-container">
  <div class="back-link">
    <%= link_to events_path do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
  </div>

  <h2 class="events__title"><%= image_tag 'folder.png', width:"35px", height:"25px" %> <%= @folder.name.capitalize %></h2>
  <div class="download-link-container">
    <div class="folder__edit__links">
      <%= link_to edit_folder_path(@folder.id) do %>
        <%= fa_icon "pencil" %>
      <% end %>
      <i class="fa fa-trash folder-delete-button" aria-hidden="true" id='<%= @folder.id %>'></i>
      <%= link_to "delete", folder_path(@folder.id, all: false), class:'hidden', id:"folder-delete-link-#{@folder.id}", method: 'delete' %>
      <%= link_to "delete", folder_path(@folder.id, all: true), class:'hidden', id:"folder-delete-link-#{@folder.id}-all", method: 'delete' %>
    </div>
    <% unless @events.count.zero? %>
      <%= link_to folder_path(id: @folder.id, format: :xlsx) do %>
        <%= fa_icon "file-excel-o" %>
      <% end %>
    <% end %>
  </div>

  <% if @events.count.zero? %>
    <h6 class="text-center mt-4 mb-4">Aucun évenement créé</h6>
  <% else %>
    <% @events.each do |event| %>
      <%= render "events/index_card", event:event %>
    <% end %>
  <% end %>
  <div class="new-event-button-container">
    <div class="btn btn-success mt-4", id="new-event-button">
      Créer un nouvel évènement
    </div>
    <%# <div class="arrow-down hide-arrow"> %>
      <%#= fa_icon "arrow-down" %>
    <%# </div> %>
  </div>
  <div class="index-new-modal">
    <div id="new-modal" class="hidden mt-4">
      <%= render "events/new", folder:@folder %>
    </div>
  </div>
</div>
