<div class="container days-container">
  <div class="back-link">
    <%= link_to days_path do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
  </div>

  <h2 class="text-center days-title"><%= @family.name %></h2>
  <div class="download-link-container">
    <div class="family__edit__links">
      <%= link_to edit_family_path(@family.id) do %>
        <%= fa_icon "pencil" %>
      <% end %>
      <i class="fa fa-trash family-delete-button" aria-hidden="true" id='<%= @family.id %>'></i>
      <%= link_to "delete", family_path(@family.id), class:'hidden', id:"family-delete-link-#{@family.id}", method: 'delete' %>
    </div>
    <% unless @days.count.zero? %>
      <%= link_to days_path(format: :xlsx) do %>
        <%= fa_icon "download" %>
      <% end %>
    <% end %>
  </div>

  <% if @days.count.zero? %>
    <h6 class="text-center mt-4 mb-4">Aucun évenement créé</h6>
  <% else %>
    <% @days.each do |day| %>
      <%= render "days/index_card", day:day %>
    <% end %>
  <% end %>
  <div class="new-day-button-container">
    <div class="btn btn-success mt-4", id="new-day-button">
      Créer un nouvel évènement
    </div>
    <%# <div class="arrow-down hide-arrow"> %>
      <%#= fa_icon "arrow-down" %>
    <%# </div> %>
  </div>
  <div class="index-new-modal">
    <div id="new-modal" class="hidden mt-4">
      <%= render "days/new", family:@family %>
    </div>
  </div>
</div>
