<div class="survey-navbar">
  <div class="navbar-logo">
    <% if user_signed_in? && current_user.logo.attached? %>
      <%= cl_image_tag current_user.logo.key, crop: :fill, class: "navbar-brand" %>
    <% end %>
  </div>
  <div class="nav-menu-button">
    <%= fa_icon "bars" %>
  </div>
</div>
<div class="navbar-dropdown-menu-container">
  <div class="navbar-dropdown-menu hide-menu">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
            <h6 id="total-link" class="dropdown-item"><strong>Total</strong></h6>
            <hr>
            <h6 id="home-link-button" class="dropdown-item">Accueil</h6>
            <%= link_to "Accueil", root_path, class: "dropdown-item hidden", id:"home-link" %>

            <h6 id="save-link" class="dropdown-item">Sauvegarder</h6>

            <h6 id="days-link-button" class="dropdown-item">Evènements</h6>
            <%= link_to "Evènements", days_path, class: "dropdown-item hidden", id:"days-link" %>

            <h6 id="edit-link-button" class="dropdown-item">Editer mon profil</h6>
            <%= link_to "Editer mon profil", edit_user_registration_path(current_user.id), class: "dropdown-item hidden", id:"edit-link" %>

            <h6 id="log-out-link-button" class="dropdown-item">Déconnection</h6>
            <%= link_to "Déconnection", destroy_user_session_path, method: :delete, class: "dropdown-item hidden", id:"log-out-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
