<div class="stats-item">
  <div class="stat-header">
    <div class="stat-header-left">
      <h5><strong><%= event.date.strftime('%d/%m/%Y') %> - <%= event.name.capitalize %></strong></h5>
      <%= link_to event_select_path(event.id), method: :post, class:"#{event.selected ? "selected" : "unselected"}" do %>
        <%= fa_icon "check" %>
      <% end %>
    </div>
    <div class="stat-header-right">
      <%= link_to event_path(id: event.id, format: :pdf) do %>
        <%= fa_icon "file-pdf-o" %>
      <% end %>
      <%= link_to edit_event_path(event.id) do %>
        <%= fa_icon "pencil" %>
      <% end %>
      <i class="fa fa-trash event-delete-button" aria-hidden="true" id='<%= event.id %>'></i>
      <%= link_to "delete", event_path(event.id), class:'hidden', id:"event-delete-link-#{event.id}", method: 'delete' %>
    </div>
  </div>
  <h7><%= event.location %></h7>
  <% if event.total && !event.total.zero? %>

    <div class="event__chart__container" id="container-<%= event.id %>">
      <div class="event__chart__content hide-content" id="content-<%= event.id %>">

    <canvas id="myChart" width="400" max-height="200" data-good="<%= event.good %>" data-middle="<%= event.middle %>" data-bad="<%= event.bad %>" data-total="<%= event.total %>"></canvas>

    <div class="chart-labels chart-label-pourcent">
      <div class="chart-labels-item">
        <h7><%= ((event.bad * 100) / event.total).ceil %>%</h7>
      </div>
      <div class="chart-labels-item">
        <h7><%= ((event.middle * 100) / event.total).ceil %>%</h7>
      </div>
      <div class="chart-labels-item">
        <h7><%= ((event.good * 100) / event.total).ceil %>%</h7>
      </div>
      <div class="chart-labels-item">
        <h7>100%</h7>
      </div>
    </div>

    <div class="chart-labels">
            <div class="chart-labels-item">
              <div class="th-smiley">
                <%= image_tag 'dislike.png', height: '25', width: '25'  %>
              </div>
            </div>
          <div class="chart-labels-item">
            <div class="th-smiley">
              <%= image_tag 'middle.png', height: '25', width: '25'  %>
            </div>
          </div>
          <div class="chart-labels-item">
            <div class="th-smiley">
              <%= image_tag 'like.png', height: '25', width: '25'  %>
            </div>
          </div>
          <div class="chart-labels-item">
            Total
          </div>
        </div>
      </div>
    </div>

  <div class="unfold__arrow__container" id="<%= event.id %>">
    <%= fa_icon 'angle-down', id: event.id %>
  </div>
    <%#= render 'stats_table', event:event %>
  <% else %>
    <h6 class='mt-4 text-center'>Aucune donnée pour cet évènement</h6>
  <% end %>
</div>
