<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th>
        <div class="th-smiley">
          <%= image_tag 'dislike.png', height: '25', width: '25'  %>
        </div>
      </th>
      <th>
        <div class="th-smiley">
          <%= image_tag 'middle.png', height: '25', width: '25'  %>
        </div>
      </th>
      <th>
        <div class="th-smiley">
          <%= image_tag 'like.png', height: '25', width: '25'  %>
        </div>
      </th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">N</th>
      <td><%= event.bad %></td>
      <td><%= event.middle %></td>
      <td><%= event.good %></td>
      <td><%= event.total %></td>
    </tr>
    <tr>
      <th scope="row">%</th>
      <% if event.total == 0 %>
        <td>0%</td>
        <td>0%</td>
        <td>0%</td>
      <% else %>
        <td><%= ((event.bad * 100) / event.total).round %>%</td>
        <td><%= ((event.middle * 100) / event.total).round %>%</td>
        <td><%= ((event.good * 100) / event.total).round %>%</td>
      <% end %>
      <td>100%</td>
    </tr>
  </tbody>
</table>
