<div class="container events-container">
  <%= render 'shared/back_link' %>
  <h2 class="text-center events-title">Evènements</h2>

  <% unless @folders.count.zero? %>
    <div class="folders__container">
      <% @folders.each do |folder| %>
        <%= render 'folder_card', folder:folder %>
      <% end %>
    </div>
  <% end %>

  <div class="download-link-container">
    <%= link_to new_folder_path do %>
    <div class="new__folder__icon">
      <%= fa_icon "folder" %>
      <span>+</span>
    </div>
    <% end %>
    <% unless @events.count.zero? %>
      <%= link_to events_path(format: :xlsx) do %>
        <%= fa_icon "file-excel-o" %>
      <% end %>
    <% end %>
  </div>

  <% if @all_events.count.zero? %>
    <h6 class="text-center mt-4 mb-4">Aucun évenement créé</h6>
  <% else %>
  <div class="index__cards_container">
    <% @events.each do |event| %>
      <%= render "index_card", event:event %>
    <% end %>
  <% end %>
  </div>
  <div class="new-event-button-container">
    <div class="btn btn-success mt-4", id="new-event-button">
      Créer un nouvel évènement
    </div>
    <%# <div class="arrow-down hide-arrow"> %>
      <%#= fa_icon "arrow-down" %>
    <%# </div> %>
  </div>
  <div class="index-new-modal">
    <div id="new-modal" class="hidden mt-4">
      <%= render "events/new" %>
    </div>
  </div>
</div>
