<div class="save-container hidden">
  <div class="save-content">
  <%=  %>
    <div class="save-warning-message">
      <%= fa_icon "warning" %> <h6> Veuillez être connecté afin de pouvoir sauvegarder </h6> <%= fa_icon "warning" %>
    </div>
    <h5 class='mt-4 danger'>Choisir une évènement :</h5>
    <select id="save-event-select" class="form-select" aria-label="Default select example" value="<%= @selected_event.first.id if @selected_event.present? %>">

      <% if @selected_event.present? %>
        <option class="events-item selected-item" value="<%= @selected_event.first.id %>">
          <%= @selected_event.first.date.strftime('%d/%m/%Y') %> - <%= @selected_event.first.name.capitalize %>
        </option>
      <% end %>
      <% events.each do |event| %>">
        <% if @selected_event.present? %>
          <% unless @selected_event.first.id === event.id %>
            <option class="events-item" value="<%= event.id %>">
              <%= event.date.strftime('%d/%m/%Y') %> - <%= event.name.capitalize %>
            </option>
          <% end %>
        <% else %>
        <option class="events-item" value="<%= event.id %>">
          <%= event.date.strftime('%d/%m/%Y') %> - <%= event.name.capitalize %>
        </option>
        <% end %>
      <% end %>
    </select>
    <div class="save-radio-buttons">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="add-radio-button" checked>
        <label class="form-check-label" for="flexRadioDefault1">
          Ajouter les valeurs
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="replace-radio-button">
        <label class="form-check-label" for="flexRadioDefault2">
          Remplacer les valeurs
        </label>
      </div>
    </div>
    <div id="save-submit-button" class="btn btn-primary mt-4">
      Sauvegarder
    </div>
    <div class="btn btn-success mt-4", id="new-event-button">
      Créer un nouvel évènement
    </div>
    <div id="new-modal" class="hidden mt-4">
      <%= render "events/new" %>
    </div>
    <div id="save-cancel-button" class="btn btn-warning mt-4">
      Retour
    </div>
  </div>
</div>
