<div class="container">
  <% if @selected_day.empty? %>
    <h3 class='text-center mt-4'>Donnez nous votre avis!</h3>
  <% else %>
    <% if @selected_day.first.tag_line.empty? %>
      <h3 class='text-center mt-4'>Donnez nous votre avis!</h3>
    <% else %>
      <h3 class='text-center mt-4'><%= @selected_day.first.tag_line %></h3>
    <% end %>
  <% end %>

  <div class="smiley-container">
    <div class="smiley-container-content">
      <div class="smiley">
        <%= image_tag "dislike.png", id:'dislike', class:'face-button' %>
      </div>
      <div class="smiley">
        <%= image_tag "middle.png", id:'middle', class:'face-button' %>
      </div>
      <div class="smiley">
        <%= image_tag "like.png", id:'like', class:'face-button' %>
      </div>
    </div>
  </div>
</div>
<%= render 'save_modal', days:@days %>
<%= render 'total_modal' %>
