<div class="stats-item">
  <div class="stat-header">
    <div class="stat-header-left">
      <h5><strong><%= day.date.strftime('%d/%m/%Y') %> - <%= day.name.capitalize %></strong></h5>
      <%= link_to day_select_path(day.id), method: :post, class:"#{day.selected ? "selected" : "unselected"}" do %>
        <%= fa_icon "check" %>
      <% end %>
    </div>
    <div class="stat-header-right">
      <%= link_to edit_day_path(day.id) do %>
        <%= fa_icon "pencil" %>
      <% end %>
      <i class="fa fa-trash day-delete-button" aria-hidden="true" id='<%= day.id %>'></i>
      <%= link_to "delete", day_path(day.id), class:'hidden', id:"day-delete-link-#{day.id}", method: 'delete' %>
    </div>
  </div>
  <h7><%= day.location %></h7>
  <% if day.good %>
    <%= render 'stats_table', day:day %>
  <% else %>
    <h6 class='mt-4 text-center'>Aucune donnée pour cet évènement</h6>
  <% end %>
</div>
