<%= simple_form_for(@day, as: :day, method: :post, url: days_path) do |f| %>
  <div id="new-day-form" class="form-inputs">
    <%= f.input :name,
                label: 'Nom',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" } %>
    <%= f.input :location,
                label: 'Lieu',
                required: false,
                autofocus: true,
                input_html: { autocomplete: "location" } %>
    <%= f.input :date, as: :date, start_year: Date.today.year,
                end_year: Date.today.year - 2,
                order: [:day, :month, :year],
                label: 'Date',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "date" } %>
    <%= f.input :tag_line,
                label: 'Titre',
                placeholder: 'ex: Avez vous apprécier notre présentation?',
                required: true,
                autofocus: true,
                hint: "Titre affiché au dessus du vote (par défault: 'Donnez nous votre avis!')",
                input_html: { autocomplete: "tag_line" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enregistrer", class:'btn btn-primary', id:"save-new-day" %>
    <%= f.button :submit, "Annuler", class:'btn btn-danger', id:"cancel-new-day" %>
  </div>
<% end %>
