<div class="container">
  <%= render 'shared/back_link' %>
  <% @days.each do |day| %>
    <div class="stats-item">
      <div class="stat-header">
        <h5><strong><%= day.date.strftime('%d/%m/%Y') %> - <%= day.name.capitalize %></strong></h5>
        <div class="stat-header-links">
          <%= link_to edit_day_path(day.id) do %>
            <%= fa_icon "pencil" %>
          <% end %>
          <%= link_to day_path(day.id), method: 'delete', data: { confirm: "Etes vous sûre de vouloir supprimer cet évènement?" } do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
      <h7><%= day.location %></h7>
      <% if day.good %>
        <%= render 'stats_table', day:day %>
      <% else %>
        <h6 class='mt-4 text-center'>Aucune donnée pour cet évènement</h6>
      <% end %>
    </div>
  <% end %>
  <div class="btn btn-success mt-4", id="new-day-button">
    Créer un nouvel évènement
  </div>
  <div class="index-new-modal">
    <div id="new-modal" class="hidden mt-4">
      <%= render "days/new" %>
    </div>
  </div>
</div>
