<div class="container days-container">
  <%= render 'shared/back_link' %>
  <h2 class="text-center days-title">Evènements</h2>

  <% unless @folders.count.zero? %>
    <div class="folders__container">
      <% @folders.each do |folder| %>
        <%= render 'folder_card', folder:folder %>
      <% end %>
    </div>
  <% end %>

  <div class="download-link-container">
    <%= link_to new_folder_path do %>
    <%= fa_icon "folder" %>
    <% end %>
    <% unless @days.count.zero? %>
      <%= link_to days_path(format: :xlsx) do %>
        <%= fa_icon "file-excel-o" %>
      <% end %>
    <% end %>
  </div>

  <% if @all_days.count.zero? %>
    <h6 class="text-center mt-4 mb-4">Aucun évenement créé</h6>
  <% else %>
    <% @days.each do |day| %>
      <%= render "index_card", day:day %>
    <% end %>
  <% end %>
  <div class="new-day-button-container">
    <div class="btn btn-success mt-4", id="new-day-button">
      Créer un nouvel évènement
    </div>
    <%# <div class="arrow-down hide-arrow"> %>
      <%#= fa_icon "arrow-down" %>
    <%# </div> %>
  </div>
  <div class="index-new-modal">
    <div id="new-modal" class="hidden mt-4">
      <%= render "days/new" %>
    </div>
  </div>
</div>
