<div class="container">
  <%= render 'shared/back_link' %>
  <div class="download-link-container">
    <% unless @days.count.zero? %>
      <%= link_to days_path(format: :xlsx) do %>
        <%= fa_icon "download" %>
      <% end %>
    <% end %>
  </div>

  <% if @days.count.zero? %>
    <h6 class="text-center mt-4 mb-4">Aucun évenement créé</h6>
  <% else %>
    <% @days.each do |day| %>
      <%= render "index_card", day:day %>
    <% end %>
  <% end %>
  <div class="new-day-button-container">
    <div class="btn btn-success mt-4", id="new-day-button">
      Créer un nouvel évènement
    </div>
    <div class="arrow-down hide-arrow">
      <%= fa_icon "arrow-down" %>
    </div>
  </div>
  <div class="index-new-modal">
    <div id="new-modal" class="hidden mt-4">
      <%= render "days/new" %>
    </div>
  </div>
</div>
