<div class="container">
<%= render 'shared/back_link' %>

<ul>
  <% @days.each do |day| %>
    <like>
      <%= day.date %> - <%= day.name %>

      <% if day.good %>
        Good: <%= day.good %>
        Bad: <%= day.bad %>
        Total: <%= day.total %>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="new-day-dropdown">
  <button class="btn btn-secondary new-day-dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Nouvelle journée
  </button>
  <div class="new-day-dropdown">
    <%= render 'new', day:@day %>
  </div>
</div>
